In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv('./data/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df['Category'] = df.Category.apply(lambda x: 1 if x== 'spam' else 0)
df

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X = df.Message
Y = df.Category
X = v.fit_transform(X.values)
X.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size=0.2)

<1115x8709 sparse matrix of type '<class 'numpy.int64'>'
	with 14924 stored elements in Compressed Sparse Row format>

In [22]:
model = MultinomialNB()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9847533632286996

In [31]:
emails = ["get upto 20% OFF! Don't miss the reward!!!! for the new sale exclusive get upto 20% OFF! for the new sale exclusive offer. Don't miss the reward!!!! offer.","get upto 20% OFF! for the new sale exclusive offer. Don't miss the reward!!!!"]
input = v.transform(emails)
model.predict(input)

array([1, 1], dtype=int64)